<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" href="/css/universal.css" th:href="@{/css/universal.css}">
    <!-- page block style -->
    <link rel="stylesheet" type="text/css" href="/css/pageBlock.css" th:href="@{/css/pageBlock.css}">
    <link rel="stylesheet" type="text/css" href="/css/registerForm.css" th:href="@{/css/registerForm.css}">
    <!-- google font (logo) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/footer.css" th:href="@{/css/footer.css}">
    <link rel="stylesheet" type="text/css" href="/css/side-tab.css" th:href="@{/css/side-tab.css}" />
    <script src="https://kit.fontawesome.com/c39d59a5ec.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- side tab fragment -->
    <div th:replace="fragment/side-tab-logedOut :: side-tab-logedOut"></div>

    <!-- Page 들 ajax 에 의해 로드됨 -->
    <div class="contents">
        <form action="#" th:object="${member}" method="post">
            <div class="loginBox">
                <div class="logo">InstaWeb</div>
                <div class="userInfo">
                    <!-- ID -->
                    <div class="loginIdBox">
                        <label th:for="loginId"></label>
                        <input id="loginIdInput" type="text" th:field="*{loginId}" placeholder=" 회원 아이디">
                    </div>
                    <!-- password -->
                    <div class="loginPasswordBox">
                        <label th:for="password"></label>
                        <input id="loginPasswordInput" type="password" th:field="*{password}" placeholder=" 비밀번호">
                    </div>
                    <!-- name -->
                    <div class="loginNameBox">
                        <label th:for="name"></label>
                        <input id="loginNameInput" type="text" th:field="*{name}" placeholder=" 이름">
                    </div>
                </div>
                <button id="submitBtn" type="submit">가입</button>
                <div class="line"></div>
                <div class="errorBox">
                    <p th:if="${#fields.hasErrors('loginId')}" th:errors="*{loginId}">에러 발생</p>
                    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">에러 발생</p>
                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">에러 발생</p>
                </div>
            </div>
            <div class="toLoginBox">
                <span>구글 로그인 <a th:href="@{/login/getAuthUrl}"><i class="fa-brands fa-google"></i></a></span>
                <div>계정이 있으신가요? <a href="/login">로그인</a></div>
            </div>
        </form>
    </div>

    <!-- footer -->
    <footer th:replace="fragment/footer :: footer"></footer>


    <script type="text/javascript">
        const loginId = document.getElementById('loginIdInput')
        const password = document.getElementById('loginPasswordInput');
        const name = document.getElementById('loginNameInput');
        const submitBtn = document.getElementById('submitBtn');

        // 최초 상태 
        submitBtn.disabled = true;
        submitBtn.style = "cursor:default; background-color: rgb(80, 180, 252);"

        loginId.addEventListener('input', toggleSubmitBtn);
        password.addEventListener('input', toggleSubmitBtn);
        name.addEventListener('input', toggleSubmitBtn);

        function toggleSubmitBtn() {
            // id, pw 채워짐 
            if (loginId.value.trim() !== '' && password.value.trim() !== '' && name.value.trim() != '') {
                submitBtn.disabled = false;
                submitBtn.style = "cursor:pointer;"
            } else {
                submitBtn.disabled = true;
                submitBtn.style = "cursor:default; background-color: rgb(80, 180, 252);"
            }
        }
    </script>
</body>

</html>