<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>나의 글 검색결과</title>
    <link rel="stylesheet" type="text/css" href="/css/universal.css" th:href="@{/css/universal.css}" />
    <link rel="stylesheet" type="text/css" href="/css/pageBlock.css" th:href="@{/css/pageBlock.css}" />
    <link rel="stylesheet" type="text/css" href="/css/footer.css" th:href="@{/css/footer.css}" />
    <link rel="stylesheet" type="text/css" href="/css/side-tab.css" th:href="@{/css/side-tab.css}" />
</head>

<body>
    <!-- side-tab fragment -->
    <div th:if="${loginMemberId == null}">
        <div th:replace="fragment/side-tab-logedOut :: side-tab-logedOut"></div>
    </div>
    <div th:unless="${loginMemberId == null}">
        <div th:replace="fragment/side-tab :: side-tab"></div>
    </div>

    <!-- Page 들 ajax 에 의해 로드됨 -->
    <div class="contents">
        <!-- <div id="contentContainer"></div> -->
    </div>

    <!-- footer -->
    <footer th:replace="fragment/footer :: footer"></footer>


    <script type="text/javascript">
        let params = new URLSearchParams(window.location.search);
        let searchQuery = params.get("searchQuery");

        // ajax request
        var xhr = new XMLHttpRequest();
        let beginIdx = 0, cnt = 10;

        xhr.onreadystatechange = function () {
            if (xhr.readyState == XMLHttpRequest.DONE) {
                if (xhr.status == 200) {
                    // 스크롤 웹페이지 끝에 도달시 beginIdx 부터 cnt 개의 페이지 가져옴
                    // var contentContainer = document.getElementById("content");
                    var contentContainer = document.querySelector(".contents");

                    // response from "/pages/ajaxReq"
                    // Map<String, List<>> 의 형태로 리턴받음
                    var data = JSON.parse(xhr.responseText);
                    // 서버에서 받은 nextBeginIdx, 다음에 서버로 요청할때 해당 인덱스부터 page 리스트 탐색시작
                    beginIdx = data.nextBeginIdx[0];

                    // response로 받은 page와 image들로 html 객체 만듦
                    for (let i = 0; i < data.pages.length; i++) {
                        let pageBlock = document.createElement("div");
                        pageBlock.classList.add("pageBlock");

                        // image
                        let aElement = document.createElement("a");
                        aElement.classList.add("imgBlock");
                        aElement.href =
                            "/" + data.pages[i].memberId + "/pages/" + data.pages[i].id;
                        let imgElement = document.createElement("img");
                        imgElement.src =
                            "data:image/jpeg;charset=utf-8;base64," + data.images[i];
                        aElement.appendChild(imgElement);

                        // title and content container
                        let divEle = document.createElement("div");
                        divEle.classList.add("titleAndContentContainer");

                        let h2Element = document.createElement("h2");
                        h2Element.classList.add("title");
                        let h2InnerAEle = document.createElement("a");
                        h2InnerAEle.innerText = data.pages[i].title;
                        h2InnerAEle.href =
                            "/" + data.pages[i].memberId + "/pages/" + data.pages[i].id;
                        h2Element.appendChild(h2InnerAEle);

                        let contentAele = document.createElement("a");
                        contentAele.classList.add("content");
                        contentAele.href =
                            "/" + data.pages[i].memberId + "/pages/" + data.pages[i].id;
                        // content
                        let aInnerDiv = document.createElement("div");
                        aInnerDiv.innerHTML = data.pages[i].content;

                        // <div>, <img> 등 엘레먼트 지우고 텍스트만 표시하도록 함
                        let imgElements = aInnerDiv.querySelectorAll("img");
                        let str = extractTextFromContent(aInnerDiv, imgElements);
                        aInnerDiv.innerHTML = str;
                        contentAele.appendChild(aInnerDiv);

                        // content footer
                        let contentFooter = document.createElement("div");
                        contentFooter.classList.add("contentFooter");
                        let memberName = document.createElement("p");
                        memberName.classList.add("memberName");
                        memberName.innerHTML = data.pages[i].memberName;
                        let delimeter = document.createElement("p");
                        delimeter.classList.add("delimeter");
                        delimeter.innerHTML = "|";

                        let createdTime = document.createElement("p");
                        createdTime.classList.add("createdTime");
                        const date = new Date(data.pages[i].createdTime);
                        const datePart = date.toISOString().split("T")[0];
                        const timePart = date.toTimeString().split(" ")[0];
                        createdTime.innerHTML = datePart + ". " + timePart;

                        contentFooter.appendChild(memberName);
                        contentFooter.appendChild(delimeter);
                        contentFooter.appendChild(createdTime);

                        divEle.appendChild(h2Element);
                        divEle.appendChild(contentAele);
                        divEle.appendChild(contentFooter);

                        pageBlock.appendChild(aElement);
                        pageBlock.appendChild(divEle);

                        contentContainer.appendChild(pageBlock);
                    }
                } else {
                    console.error("error");
                }
            }
        };

        //  서버에서 가져온 content 에서 text 추출
        function extractTextFromContent(content, imgElements) {
            // // pageBlock 에서 이미지는 디스플레이 하지 않도록 지운다
            imgElements.forEach((imgElement) => {
                imgElement.onerror = () => {
                    imgElement.remove();
                };
                imgElement.src = "";
            });

            let str = "";
            let tmpDiv = document.createElement("div");
            tmpDiv.innerHTML = content.innerHTML;

            for (let i = 0; i < tmpDiv.childNodes.length; i++) {
                str += tmpDiv.childNodes[i].innerText + " ";
            }

            return str;
        }

        // infinite scroll
        window.addEventListener("scroll", function () {
            if (
                window.innerHeight + window.scrollY + 5 >=
                document.body.offsetHeight
            ) {
                // 이전 request 에 대한 게시글들 로딩 완료된 이후에만 또 다른 request 보냄
                if (xhr.readyState == XMLHttpRequest.DONE) {
                    if (xhr.status == 200) {
                        console.log('searchBeginIdx = ' + beginIdx.toString())
                        xhr.open(
                            "GET",
                            "/search/searchMine?beginIdx=" + beginIdx.toString() + "&searchQuery=" + searchQuery.toString(),
                            true
                        );
                        xhr.send();
                    }
                }
            }
        });

        // 최초 페이지 로드 완료시 페이지 idx=0 부터 cnt=10 개 로드
        window.onload = function () {
            console.log('onload = ' + beginIdx.toString() + ' ' + searchQuery.toString())
            xhr.open(
                "GET",
                "/search/searchMine?beginIdx=" + beginIdx.toString() + "&searchQuery=" + searchQuery.toString(),
                true
            );
            xhr.send();
        };
    </script>

</body>

</html>