* {
    margin: 0;
    padding: 0;
    /* width, height에 border, padding 값 포함됨  */
    box-sizing: border-box;
}

.contents {
    /* footer 아래 위치하도록 최소 높이 보장 */
    min-height: 700px;
    margin-left: 245px;
    /* padding: 0 5px; */
    /* background-color: aqua; */
}


/* page Block */
.pageBlock {
    /* background-color: brown; */
    margin: 0 auto;
    display: flex;
    width: 900px;
    height: 250px;
    padding: 35px 0;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}

.pageBlock .imgBlock {
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 150px;
    margin: auto 0;
}

.pageBlock .imgBlock img {
    width: 100%;
    height: 100%;
}

.pageBlock .titleAndContentContainer {
    /* background-color: coral; */
    width: 100%;
    padding: 0px 20px;
}

.pageBlock .titleAndContentContainer:hover {
    cursor: pointer;
}

.pageBlock .titleAndContentContainer:hover .title a {
    text-decoration: underline;
    color: rgb(25, 161, 161)
}

.pageBlock .titleAndContentContainer .title {
    /* background-color: beige; */
    height: 50px;
    width: 100%;
    line-height: 50px;
}

.pageBlock .titleAndContentContainer .title a {
    /* background-color: red; */
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 25px;
    font-weight: bold;
}

.pageBlock .titleAndContentContainer .content {
    /* background-color: aquamarine; */
    height: 110px;
    width: 100%;
    display: flex;
    align-items: center;
}

.pageBlock .titleAndContentContainer .content div {
    /* background-color: brown; */
    height: 100px;
    color: rgb(0, 0, 0, 0.7);
    /* 세 줄 초과시 안보이도록 ... 처리  */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-height: 1.5em;
    max-height: 4.5em;
}

.pageBlock .titleAndContentContainer .contentFooter {
    display: flex;
    height: 20px;
    align-items: center;
}

.pageBlock .titleAndContentContainer .contentFooter .memberName {
    font-size: 15px;
    color: rgb(25, 161, 161);
}

.pageBlock .titleAndContentContainer .contentFooter .delimeter {
    font-size: 10px;
    color: rgb(128, 128, 128, 0.5);
    margin: 0 10px;
}

.pageBlock .titleAndContentContainer .createdTime {
    /* background-color: blue; */
    height: 20px;
    font-size: 15px;
    color: gray;
}

/* 세로 길이 1200px 이하 시, side-tab 줄이기 위해 */
@media(max-width: 1200px) {
    .contents {
        margin-left: 55px;
    }
}

/* 세로 길이 955px 이하 시, pageBlock 디자인 축소 */
@media(max-width: 955px) {
    .pageBlock {
        height: 150px;
        padding: 15px 10px;
        width: auto;
    }

    .pageBlock .imgBlock {
        width: 150px;
        height: 100px;
    }

    .pageBlock .titleAndContentContainer {
        padding: 0 10px;
    }

    .pageBlock .titleAndContentContainer .title {
        height: 25px;
        line-height: 25px;
    }

    .pageBlock .titleAndContentContainer .title a{
        font-size: 20px;
    }

    .pageBlock .titleAndContentContainer .content {
        height: 65px;
    }

    .pageBlock .titleAndContentContainer .content div {
        height: 50px;
        font-size: 15px;
        /* 세 줄 초과시 안보이도록 ... 처리  */
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-height: 1.5em;
        max-height: 3em;
    }
}