<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <header th:fragment="header">
    <div class="editor-menu">
      <button id="btn-bold" type="button">
        <b>B</b>
      </button>
      <button id="btn-italic" type="button">
        <i>I</i>
      </button>
      <button id="btn-underline" type="button">
        <u>U</u>
      </button>
      <button id="btn-strike" type="button">
        <s>S</s>
      </button>
      <button id="btn-image" type="button" style="width: 45px">IMG</button>
    </div>
  </header>
</html>
