<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<footer th:fragment="footer">
    <div>
        <div class="minScreen">INSTA WEB</div>
        <div>
            <h1>INSTA WEB</h1>
            <ul>
                <li>@ 2023-2023 INSTA WEB, Inc.</li>
                <li>|</li>
                <li><a href="https://github.com/LSH3333/Instaweb" target="_blank"><i class="fa-brands fa-github"></i></a></li>
                <li>|</li>
                <li><a href="https://tose33.tistory.com/" target="_blank"><i class="fa-solid fa-t"></i></a></li>
                <li>|</li>
                <li><a href="https://www.acmicpc.net/user/language/chadol51" target="_blank"><i class="fa-solid fa-b"></i> </a></li>
                <li>|</li>
            </ul>
        </div>
    </div>
</footer>