<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<footer th:fragment="footer">
    <div>
        <div class="minScreen">INSTA WEB</div>
        <div>
            <h1>INSTA WEB</h1>
            <ul>
                <li>@ 2022-2023 INSTA WEB, Inc.</li>
                <li>|</li>
                <li><a href="#">Privacy Notice</a></li>
                <li>|</li>
                <li><a href="#">Terms of User</a></li>
                <li>|</li>
                <li><a href="#">Site map</a></li>
            </ul>
        </div>
    </div>
</footer>