<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- side tab fragment -->
<div th:fragment="side-tab-logedOut">
  <!-- google font (logo) -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/c39d59a5ec.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="/css/side-tab.css" th:href="@{/css/side-tab.css}" />


  <div class="side-tab">
    <div class="logo">
      <a href="/">InstaWeb</a>
      <a href="/"><i class="fa-brands fa-instagram"></i></a>
    </div>
    <div class="menus">
      <div>
        <a href="/"><i class="fa-solid fa-house"></i></a><a href="/">홈</a>
      </div>
      <div class="search-container">
        <button id="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
        <button id="search-text-button">모든 글 검색</button>
        <div id="search-input-container">
          <input type="text" id="search-input" placeholder="">
        </div>
      </div>
      <div>
        <a href="/login"><i class="fa-solid fa-arrow-right-to-bracket"></i></a><a href="/login">로그인</a>
      </div>
      <div>
        <a href="/members/register"><i class="fa-solid fa-address-card"></i></a><a href="/members/register">가입</a>
      </div>
      <div id="menus-game">
        <a href="/game/list"><i class="fa-solid fa-gamepad"></i></a><a href="/game/list">게임</a>
      </div>
    </div>
  </div>


  <script type="text/javascript" src="/js/searchAll.js" th:src="@{/js/searchAll.js}"></script>

</div>


</html>