<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- side tab fragment -->
<div th:fragment="side-tab">
  <!-- google font (logo) -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/c39d59a5ec.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="/css/side-tab.css" th:href="@{/css/side-tab.css}" />

  <div class="side-tab">
    <div class="logo">
      <a href="/">InstaWeb</a>
      <a href="/"><i class="fa-brands fa-instagram"></i></a>
    </div>
    <div class="menus">
      <div>
        <a href="/"><i class="fa-solid fa-house"></i></a><a href="/">홈</a>
      </div>
      <div class="search-container">
        <button id="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
        <button id="search-text-button">모든 글 검색</button>
        <div id="search-input-container">
          <input type="text" id="search-input" placeholder="">
        </div>
      </div>
      <div>
        <a th:href="@{|/${loginMemberId}/pages/new|}"><i class="fa-solid fa-pen"></i></a><a
          th:href="@{|/${loginMemberId}/pages/new|}">작성</a>
      </div>
      <div>
        <a th:href="@{|/${loginMemberId}/pages|}"><i class="fa-solid fa-user"></i></a><a href="/pages"
          th:href="@{|/${loginMemberId}/pages|}">나의 작성 목록</a>
      </div>
      <div class="search-mine-container">
        <button id="search-mine-button"><i class="fa-solid fa-magnifying-glass"></i></button>
        <button id="search-mine-text-button">나의 글 검색</button>
        <div id="search-mine-input-container">
          <input type="text" id="search-mine-input" placeholder="">
        </div>
      </div>    
      <div>
        <a href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a><a href="/logout">로그아웃</a>
      </div>
      <div id="menus-game">
        <a href="/game/list"><i class="fa-solid fa-gamepad"></i></a><a href="/game/list">게임</a>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="/js/searchAll.js" th:src="@{/js/searchAll.js}"></script>
  <script type="text/javascript" src="/js/searchMine.js" th:src="@{/js/searchMine.js}"></script>
</div>

</html>