<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>페이지</title>
    <link rel="stylesheet" href="/css/universal.css" th:href="@{/css/universal.css}">
    <link rel="stylesheet" href="/css/pageView.css" th:href="@{/css/pageView.css}">
    <!-- page block style -->
    <link rel="stylesheet" type="text/css" href="/css/pageBlock.css" th:href="@{/css/pageBlock.css}">
    <link rel="stylesheet" type="text/css" href="/css/footer.css" th:href="@{/css/footer.css}">
    <link rel="stylesheet" type="text/css" href="/css/side-tab.css" th:href="@{/css/side-tab.css}" />
</head>

<body>
    <!-- side tab fragment -->
    <div th:if="${loginMemberId == null}">
        <div th:replace="fragment/side-tab-logedOut :: side-tab-logedOut"></div>
    </div>
    <div th:unless="${loginMemberId == null}">
        <div th:replace="fragment/side-tab :: side-tab"></div>
    </div>

    <div class="contents">
        <div>
            <div class="title">
                <p class="pageTitle" th:text="${page.title}">Hello world!</p>
                <div class="titleFooter">
                    <p class="memberName" th:text="${page.member.name}">aaaa</p>
                    <p class="delimeter">|</p>
                    <p class="createdTime" th:text="${page.createdTime}">2023.05.22. 20:39:33</p>
                </div>
            </div>

            <div id="editor"></div>

            <div class="extraBox">
                <!-- 글 수정 폼으로 이동  -->
                <a href="#" th:href="@{/pages/{id}/edit (id=${page.id})}">수정</a>
                <!-- 글 삭제 -->
                <a id="deleteAnchor" href="#" th:href="@{/pages/{id}/delete (id=${page.id})}"
                    onclick="return confirmDelete()">삭제</a>
            </div>
            <!-- comment -->
            <div id="commentBox">
                <!-- 댓글 목록 -->
                <div id="commentListBox"></div>
                <!-- 댓글 입력 박스 -->
                <div th:if="${loginMemberId != null}">
                    <div id="commentSubmitBox">
                        <textarea id="commentSubmitTextArea" name="CommentSubmitTextArea" cols="50" rows="5"></textarea>
                        <button type="submit" id="commentSubmitBtn">입력</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- footer -->
    <footer th:replace="fragment/footer :: footer"></footer>

    <!-- comment -->
    <script type="text/javascript">
        const commentSubmitTextArea = document.getElementById('commentSubmitTextArea');
        const commentSubmitBtn = document.getElementById('commentSubmitBtn');
        const commentListBox = document.getElementById('commentListBox')
        // const pageId = "[[${page.id}]]";

        if (commentSubmitBtn) {
            commentSubmitBtn.addEventListener('click', function (event) {
                event.preventDefault();
                sendCommentToServerAjax();
                commentSubmitTextArea.value = "";
            });
        }

        // 서버로 작성된 댓글 정보 보냄 
        function sendCommentToServerAjax() {
            const formData = new FormData();
            formData.append("pageId", pageId);
            formData.append("comment", commentSubmitTextArea.value);

            const sendCommentDataXhr = new XMLHttpRequest();
            sendCommentDataXhr.open("POST", "/comment/upload", true);
            sendCommentDataXhr.onload = function () {
                if (sendCommentDataXhr.status === 200) {
                    console.log("Files uploaded successfully");
                    getComments();
                } else {
                    console.log("Files upload failed")
                }
            };
            sendCommentDataXhr.send(formData);
        }

        // 서버에서 댓글들 불러와서 commentListBox 에 append, 기존에 있던 댓글들 다 지우고 통째로 가져와서 다시 디스플레이
        function getComments() {
            console.log('getComments')
            const xhr = new XMLHttpRequest();
            xhr.open("GET", "/comment/getComments", true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == XMLHttpRequest.DONE) {
                    if (xhr.status == 200) {
                        commentListBox.innerHTML = "";
                        let data = JSON.parse(xhr.responseText);

                        for (let i = 0; i < data.commentContentList.length; i++) {
                            let commentId = data.commentIdList[i];
                            let commentBlock = document.createElement("div");
                            commentBlock.classList.add('commentBlock')

                            // name 
                            let name = data.commentNameList[i];
                            let nameEle = document.createElement('h2')
                            nameEle.innerText = name;

                            // content
                            let content = data.commentContentList[i];
                            let contentEle = document.createElement('p')
                            contentEle.innerText = content;

                            // createdTime 
                            let createdTime = data.commentCreatedTimeList[i];
                            let createdTimeEle = document.createElement('p')
                            const date = new Date(data.commentCreatedTimeList[i]);
                            const datePart = date.toISOString().split("T")[0];
                            const timePart = date.toTimeString().split(" ")[0];
                            createdTimeEle.innerText = datePart + ". " + timePart;

                            // delete 
                            let deleteEle = document.createElement('a')
                            deleteEle.href = "/comment/delete/" + commentId;
                            deleteEle.innerText = '삭제'

                            commentBlock.appendChild(nameEle);
                            commentBlock.appendChild(contentEle);
                            commentBlock.appendChild(createdTimeEle);
                            commentBlock.appendChild(deleteEle);
                            commentListBox.appendChild(commentBlock)
                        }

                    } else {
                        console.error("error");
                    }
                }
            };
            xhr.send();
        }


    </script>


    <!-- ajax 요청으로 내용 가져와서 <img> 삽입  -->
    <script type="text/javascript">
        let pageId = "[[${page.id}]]";
        let pageTitle = "[[${page.title}]]";

        let xhr = new XMLHttpRequest();

        xhr.onreadystatechange = function () {
            if (xhr.readyState == XMLHttpRequest.DONE) {
                if (xhr.status == 200) {
                    // contents, images, imgUUIDList
                    let data = JSON.parse(xhr.responseText);

                    const imgCount = data.images.length;
                    let loadedImgCount = 0;

                    // key,val = 이미지의 uuid,이미지 File 
                    const fileMap = new Map();
                    for (let i = 0; i < data.images.length; i++) {
                        let file = base64ToFile(data.images[i], data.imgUUIDList[i], 'image/');
                        fileMap.set(data.imgUUIDList[i], file);
                    }

                    const tempDiv = document.createElement("div");
                    tempDiv.innerHTML = data.content;

                    // 이미지 src 서버에서 가져온걸로 변경
                    const imgElements = tempDiv.querySelectorAll("img");
                    // 이미지 없는 경우 editor 내 child 들 모두 로드될때까지 대기 후 resize editor                    
                    if (imgCount === 0) {
                        waitForEditorChildren().then((height) => {
                            resizeEditorAllElements();
                        });
                    }
                    // 이미지 있는 경우 editor 내 image 모두 로드될때까지 대기 후 resize editor 
                    else {
                        for (let i = 0; i < imgElements.length; i++) {
                            let imgElement = imgElements[i];
                            // img uuid 
                            const uuid = imgElement.id;
                            // imgElement.src = 'data:image/jpeg;charset=utf-8;base64,' + fileMap.get(uuid);

                            let url = URL.createObjectURL(fileMap.get(uuid));
                            imgElement.src = url;

                            imgElement.onload = function () {
                                loadedImgCount++;

                                if (loadedImgCount === imgCount) {
                                    resizeEditorAllElements();
                                }
                            }
                        }
                    }

                    // 글 작성폼에서 삽입되는 div 는 contenteditable=true임, pageView 에서는  false로 바꿈
                    const divElements = tempDiv.querySelectorAll("div");
                    for (let i = 0; i < divElements.length; i++) {
                        let divElement = divElements[i];
                        divElement.setAttribute('contenteditable', 'false');
                    }

                    // document.getElementById('editor').appendChild(tempDiv);
                    document.getElementById('editor').innerHTML = tempDiv.innerHTML;

                } else {
                    console.error("error");
                }
            }
        }

        window.onload = function () {
            xhr.open('GET', '/view/ajaxReq?pageId=' + pageId.toString(), true);
            xhr.send();
            changeCreatedTimePattern();
            changeTitle();

            getComments();
        };

        function changeTitle() {
            document.title = pageTitle;
        }

        function base64ToFile(base64String, fileName, contentType) {
            const byteCharacters = atob(base64String);
            const byteArrays = [];

            for (let offset = 0; offset < byteCharacters.length; offset += 512) {
                const slice = byteCharacters.slice(offset, offset + 512);
                const byteNumbers = new Array(slice.length);

                for (let i = 0; i < slice.length; i++) {
                    byteNumbers[i] = slice.charCodeAt(i);
                }

                const byteArray = new Uint8Array(byteNumbers);
                byteArrays.push(byteArray);
            }

            const blob = new Blob(byteArrays, { type: contentType });
            return new File([blob], fileName, { type: contentType });
        }

    </script>

    <script>
        // editor 의 children 모두 로드 될때까지 대기
        function waitForEditorChildren() {
            return new Promise((resolve) => {
                // Check if all child elements are loaded
                function checkChildrenLoaded() {
                    const editor = document.getElementById('editor');
                    const childNodes = editor.childNodes;

                    let allChildrenLoaded = true;
                    let height = 62; // editor's default padding and border

                    for (let i = 0; i < childNodes.length; i++) {
                        const childNode = childNodes[i];
                        if (childNode.offsetHeight === 0) {
                            allChildrenLoaded = false;
                            break;
                        }
                        height += childNode.offsetHeight;
                    }

                    if (allChildrenLoaded) {
                        resolve(height); // Resolve the Promise with the total height
                    } else {
                        // Wait for a brief moment and check again
                        setTimeout(checkChildrenLoaded, 100);
                    }
                }

                checkChildrenLoaded(); // Start checking for loaded children
            });
        }

        // page onload 시 editor 크기 조절 
        // 에디터 내부 모든 엘레먼트 높이 계산후 조절 (onload, paste 시)
        function resizeEditorAllElements() {
            // Perform additional actions after the element is displayed
            window.requestAnimationFrame(function () {
                // Your additional actions here
                // This code will run after the element is rendered
                let height = 62; // editor 기본 padding, border 포함
                for (let i = 0; i < editor.childNodes.length; i++) {
                    let childNode = editor.childNodes[i];
                    height += getTotalHeightOfElement(childNode)
                }
                editor.style.height = 'auto';
                editor.style.height = Math.max(500, height) + 'px';
            });
        }

        // 엘러먼트의 content,margin,padding,border 모두 포함하는 높이 구함
        function getTotalHeightOfElement(element) {
            const styles = window.getComputedStyle(element);
            const height = element.offsetHeight;
            const marginTop = parseFloat(styles.marginTop);
            const marginBottom = parseFloat(styles.marginBottom);
            const paddingTop = parseFloat(styles.paddingTop);
            const paddingBottom = parseFloat(styles.paddingBottom);
            const borderTop = parseFloat(styles.borderTop);
            const borderBottom = parseFloat(styles.borderBottom);
            const totalHeight = height + marginTop + marginBottom + paddingTop + paddingBottom + borderTop + borderBottom;
            return totalHeight;
        }



        // change "yyyy-MM-dd'T'HH:mm:ss.SSS" to "yyyy-MM-dd HH:ss"
        function changeCreatedTimePattern() {
            var createdTimeElement = document.querySelector(".createdTime");
            const date = new Date(createdTimeElement.textContent);
            const datePart = date.toISOString().split("T")[0];
            const timePart = date.toTimeString().split(" ")[0];
            const newPattern = datePart + ". " + timePart;
            createdTimeElement.textContent = newPattern;
        }

        function confirmDelete() {
            // Display a confirmation dialog
            var confirmation = confirm("Are you sure you want to delete this page?");

            // Return true to proceed with the deletion or false to cancel
            return confirmation;
        }

    </script>

</body>

</html>