<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Page List</title>
  <link rel="stylesheet" href="/css/universal.css" th:href="@{/css/universal.css}" />

  <!-- page block style -->
  <link rel="stylesheet" type="text/css" href="/css/pageBlock.css" th:href="@{/css/pageBlock.css}" />
  <link rel="stylesheet" type="text/css" href="/css/footer.css" th:href="@{/css/footer.css}">
  <link rel="stylesheet" type="text/css" href="/css/side-tab.css" th:href="@{/css/side-tab.css}" />

</head>

<body>
  <!-- side tab fragment -->
  <div th:replace="fragment/side-tab :: side-tab"></div>

  <!-- Page 들 ajax 에 의해 로드됨 -->
  <div class="contents">
    <div id="contentContainer"></div>
  </div>

  <!-- footer -->
  <footer th:replace="fragment/footer :: footer"></footer>

  <script th:replace="fragment/wrapPageBlock :: wrapPageBlock"></script>


  <script type="text/javascript">
    let memberId = "[[${memberId}]]";
    let memberName = "[[${memberName}]]";
    
    // infinite scroll
    window.addEventListener("scroll", function () {
      if (
        window.innerHeight + window.scrollY + 5 >=
        document.body.offsetHeight
      ) {
        // 이전 request 에 대한 게시글들 로딩 완료된 이후에만 또 다른 request 보냄
        if (xhr.readyState == XMLHttpRequest.DONE) {
          if (xhr.status == 200) {
            xhr.open(
              "GET",
              "/pages/ajaxReq?beginIdx=" +
              beginIdx.toString() +
              "&memberId=" +
              memberId.toString(),
              true
            );
            xhr.send();
          }
        }
      }
    });

    // 최초 페이지 로드 완료시 페이지 idx=0 부터 cnt=10 개 로드
    window.onload = function () {
      xhr.open(
        "GET",
        "/pages/ajaxReq?beginIdx=" +
        beginIdx.toString() +
        "&memberId=" +
        memberId.toString(),
        true
      );
      xhr.send();

      changeTitle();
    };

    function changeTitle() {
      document.title = memberName;
    }

  </script>
</body>

</html>