/* createPageForm.html, updatePageForm.html 이 공유 하는 css 파일 */
.contents {
  /* background-color:bisque;  */
  margin-top: 70px;
}

/* header */
input[type="file"] {
  display: none;
}

#header {
  /* background-color: violet; */
  background-color: white;
  position: fixed;
  top: 0;
  left: 245px;
  width: calc(100% - 245px);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(128, 128, 128, 0.5);
}

#header * {
  font-size: 20px;
}

#header .editor-menu {
  /* background-color: royalblue; */
  width: calc(100% - 40px);
  max-width: 800px;
  margin: 0 auto;
  overflow-x: auto;
  white-space: nowrap;
  /* padding: 0 20px; */
}

#header .editor-menu button {
  width: 25px;
  height: 25px;
  border: none;
  background-color: white;
  /* background-color: blue; */
  margin: 0 5px;
}

#header .editor-menu .btnPressed {
  background-color: black;
  color: white;
}


#header .editor-menu button:hover {
  cursor: pointer;
  background-color: #ccc;
}

#header #divider {
  margin: 0 auto;
  color: rgb(187, 187, 187, 1)
}

/* title */
.title {
  /* background-color: darkcyan; */
  height: 100px;
  display: flex;
  align-items: center;
}

.title input {
  border-left: none;
  border-right: none;
  border-top: 1px solid rgb(128, 128, 128, 0.5);
  border-bottom: 1px solid rgb(128, 128, 128, 0.5);
  width: 100%;
  height: 50px;
  font-size: 20px;
}

.title .placeholder-red::placeholder {
  color: red;
}

.title input:focus {
  outline: none;
}


#editor {
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  width: 100%;
  height: 500px;
  border-right: none;
  border-left: none;
  padding-top: 30px;
  padding-bottom: 30px;
  line-height: 1.5;
  box-sizing: content-box;
}

#editor:focus {
  outline: none;
}

/* editor 내부 링크 (하이퍼텍스트)  */
#editor a {
  color: #3db39e;
  text-decoration: underline;
}

#editor img {
  max-width: 100%;
  max-height: 100%;
  margin: 20px 0;
}

/* 에디터 내부 글자 크기 조절용 클래스 */
#editor {
  font-size: 16px;
}

#editor .textSizeMain1,
.textSizeMain1 * {
  font-size: 18px;
}

#editor .textSizeMain2,
.textSizeMain2 * {
  font-size: 16px;
}

#editor .textSizeMain3,
.textSizeMain3 * {
  font-size: 14px;
}

#editor .textSizeTitle1,
.textSizeTitle1 * {
  font-size: 26px;
  color: #000;
  margin: 1em 0 20px;
  line-height: 1.46;
}

#editor .textSizeTitle2,
.textSizeTitle2 * {
  font-size: 23px;
  color: #000;
  margin: 1em 0 20px;
  line-height: 1.48;
}

#editor .textSizeTitle3,
.textSizeTitle3 * {
  font-size: 20px;
  color: #000;
  margin: 1em 0 20px;
  line-height: 1.55;
}

#editor .textAlignLeft {
  text-align: left;
}

#editor .textAlignCenter {
  text-align: center;
}

#editor .textAlignRight {
  text-align: right;
}


form {
  /* background-color: blueviolet; */
  margin: 0 auto;
  width: 800px;
}

@media (max-width: 1200px) {
  #header {
    left: 55px;
    width: calc(100% - 55px);
  }
}

#submitBtn {
  background-color: black;
  color: white;
  border-radius: 20px;
  width: 100px;
  height: 40px;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 50px;
}

#submitBtn:hover {
  cursor: pointer;
  background-color: rgba(255, 72, 0, 0.908);
}

/* Set the <details> element to display as inline-block */
#header .editor-menu details {
  display: inline-block;
}


/* Style the summary element */
#header .editor-menu details summary {
  cursor: pointer;
  outline: none;
}

/* Style the <ul> element */
#header .editor-menu details ul {
  display: none;
  position: fixed;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

/* Show the <ul> element when <details> is open */
#header .editor-menu details[open] ul {
  display: block;
}

/* Add spacing between the list items */
#header .editor-menu details[open] ul li {
  margin: 0;
  width: 80px;
  height: 35px;
}

#header .editor-menu details ul li button {
  width: 80px;
  margin: 0;
  padding: 0;
  text-align: left;
  padding: 0 5px;
  height: 35px;
}