.contents {
    /* background-color:bisque;  */
    margin-top: 70px;
}

/* header */
#header {
    /* background-color: violet; */
    background-color: white;
    position: fixed;
    top: 0;
    left: 245px;
    width: calc(100% - 245px);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(128, 128, 128, 0.5);
}


#header .editor-menu {
    /* background-color: royalblue; */
    width: calc(100% - 40px);
    max-width: 800px;
    margin: 0 auto;
    overflow-x: auto;
    white-space: nowrap;
    /* padding: 0 20px; */
}

#header .editor-menu button {
    width: 25px;
    height: 25px;
    border: none;
    background-color: white;
    /* background-color: blue; */
    margin: 0 5px;
}

#header .editor-menu button:hover {
    cursor: pointer;
    background-color: #ccc;
}

/* title */
.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-top: 1px solid rgba(128, 128, 128, 0.5);
    /* border-bottom: 1px solid rgba(128, 128, 128, 0.5); */
}

.title .pageTitle {
    /* background-color: red; */
    border-left: none;
    border-right: none;

    width: 100%;
    height: 50px;

    text-align: center;
    line-height: 50px;
    font-weight: 700;
    font-size: 40px;
}

.title .titleFooter {
    /* background-color: blue; */
    height: 20px;
    text-align: center;
}

.title .titleFooter .memberName {
    display: inline-block;
    font-size: 15px;
    color: rgb(25, 161, 161);
}

.title .titleFooter .delimeter {
    display: inline-block;
    font-size: 10px;
    color: rgb(128, 128, 128, 0.5);
    margin: 0 10px;
}

.title .titleFooter .createdTime {
    /* background-color: blue; */
    display: inline-block;
    height: 20px;
    font-size: 15px;
    color: gray;
}


#editor {
    /* background-color: bisque; */
    border: 1px solid #D6D6D6;
    border-radius: 4px;
    width: 100%;
    height: 500px;
    border-right: none;
    border-left: none;
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 1.5;
}

#editor a {
    color: #3db39e;
    text-decoration: underline;
    
}

#editor img {
    max-width: 100%;
    max-height: 100%;
    margin: 20px 0;
}

/* 에디터 내부 글자 크기 조절용 클래스 */
#editor {
    font-size: 16px;
}

#editor .textSizeMain1,
.textSizeMain1 * {
    font-size: 18px;
}

#editor .textSizeMain2,
.textSizeMain2 * {
    font-size: 16px;
}

#editor .textSizeMain3,
.textSizeMain3 * {
    font-size: 14px;
}

#editor .textSizeTitle1,
.textSizeTitle1 * {
    font-size: 26px;
    color: #000;
    margin: 1em 0 20px;
    line-height: 1.46;
}

#editor .textSizeTitle2,
.textSizeTitle2 * {
    font-size: 23px;
    color: #000;
    margin: 1em 0 20px;
    line-height: 1.48;
}

#editor .textSizeTitle3,
.textSizeTitle3 * {
    font-size: 20px;
    color: #000;
    margin: 1em 0 20px;
    line-height: 1.55;
}


.contents>div {
    /* background-color: blueviolet; */
    margin: 0 auto;
    width: 800px;
}

.extraBox {
    /* background-color: red; */
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid #D6D6D6;
}

.extraBox a {
    font-size: 15px;
    color: #6d6b6b;
    margin: 0 5px;
}