* {
    margin: 0;
    padding: 0;
    /* width, height에 border, padding 값 포함됨  */
    box-sizing: border-box;
    font-size: 16px;
}

html,
body {
    border-top: 1px solid white;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.contents {
    /* footer 아래 위치하도록 최소 높이 보장 */
    /* min-height: 780px; */
    margin-left: 245px;
    margin-bottom: 30px;
    /* contents 찰수록 높이 증가하도록함 */
    flex-grow: 1; 
    /* min-height: 85vh; */
}