<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>홈</title>
  <link rel="stylesheet" type="text/css" href="/css/universal.css" th:href="@{/css/universal.css}" />
  <link rel="stylesheet" type="text/css" href="/css/pageBlock.css" th:href="@{/css/pageBlock.css}" />
  <link rel="stylesheet" type="text/css" href="/css/footer.css" th:href="@{/css/footer.css}" />
</head>

<body>
  <!-- side-tab fragment -->
  <div th:if="${loginMemberId == null}">
    <div th:replace="fragment/side-tab-logedOut :: side-tab-logedOut"></div>
  </div>
  <div th:unless="${loginMemberId == null}">
    <div th:replace="fragment/side-tab :: side-tab"></div>
  </div>

  <!-- Page 들 ajax 에 의해 로드됨 -->
  <div class="contents">
  </div>

  <!-- footer -->
  <footer th:replace="fragment/footer :: footer"></footer>

  <script th:replace="fragment/wrapPageBlock :: wrapPageBlock"></script>
  <script>
    // infinite scroll
    window.addEventListener("scroll", function () {

      const scrollPosition = window.scrollY;
      const windowHeight = window.innerHeight;
      const documentHeight = Math.max(
        document.body.scrollHeight,
        document.body.offsetHeight,
        document.documentElement.clientHeight,
        document.documentElement.scrollHeight,
        document.documentElement.offsetHeight
      );

      if (
        scrollPosition + windowHeight >= documentHeight
      ) {
        // 이전 request 에 대한 게시글들 로딩 완료된 이후에만 또 다른 request 보냄
        if (xhr.readyState == XMLHttpRequest.DONE) {
          if (xhr.status == 200) {
            xhr.open(
              "GET",
              "/allPages/ajaxReq?beginIdx=" + beginIdx.toString(),
              true
            );
            xhr.send();
          }
        }
      }
    });

    // 최초 페이지 로드 완료시 페이지 idx=0 부터 cnt=10 개 로드
    window.onload = function () {
      xhr.open(
        "GET",
        "/allPages/ajaxReq?beginIdx=" + beginIdx.toString(),
        true
      );
      xhr.send();
    };
  </script>


</body>

</html>