<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Create Page</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/css/universal.css" th:href="@{/css/universal.css}">
    <style>
        #sortable {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 60%;
        }

        #sortable li {
            margin: 0 3px 3px 3px;
            padding: 0.4em;
            padding-left: 1.5em;
            font-size: 1.4em;
            height: 18px;
        }

        #sortable li span {
            position: absolute;
            margin-left: -1.3em;
        }

        /* <input> button */
        .custom-file-upload {
            display: inline-block;
            padding: 6px 12px;
            cursor: pointer;
            border-radius: 4px;
            background-color: #f2f2f2;
            color: #333;
            font-size: 16px;
        }

        .custom-file-upload:hover {
            background-color: #e6e6e6;
        }

        .custom-file-upload:active {
            background-color: #d9d9d9;
        }

        input[type="file"] {
            display: none;
        }

        /* content editor */
        div#editor {
            border: 1px solid #D6D6D6;
            border-radius: 4px;
            width: 100%;
            height: 1000px;
        }

        #editor img {
            max-width: 100%;
        }
    </style>
    <!-- page block style -->
    <link rel="stylesheet" type="text/css" href="/css/pageBlock.css" th:href="@{/css/pageBlock.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

</head>

<body>
    <!-- side tab fragment -->
    <div th:replace="fragment/side-tab :: side-tab"></div>

    <!-- Page 들 ajax 에 의해 로드됨 -->
    <div class="contents">
        <form th:action="@{/pages/new}" th:object="${form}" method="post" enctype="multipart/form-data">
            <!-- title -->
            <div>
                <label th:for="title">제목</label>
                <input type="text" th:field="*{title}" placeholder="제목을 입력하세요">
                <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}">에러</p>
            </div>

            <div class="editor-menu">
                <button id="btn-bold" type="button">
                    <b>B</b>
                </button>
                <button id="btn-italic" type="button">
                    <i>I</i>
                </button>
                <button id="btn-underline" type="button">
                    <u>U</u>
                </button>
                <button id="btn-strike" type="button">
                    <s>S</s>
                </button>
                <button id="btn-ordered-list" type="button">
                    OL
                </button>
                <button id="btn-unordered-list" type="button">
                    UL
                </button>
                <button id="btn-image" type="button">
                    IMG
                </button>
            </div>
            <!-- 실제 content 저장용 -->
            <textarea id="my-textarea" style="display:none;" th:field="*{content}"></textarea>
            <!-- 유저에게 보이는 div -->
            <div id="editor" contenteditable="true" th:field="*{content}"></div>

            <input id="img-selector" type="file" accept="image/*" />

            <input type="hidden" th:field="*{id}" />
            <input type="hidden" name="imageOrder" id="imageOrder" value="">
            <button id="submitBtn" type="submit">Submit</button>
        </form>
    </div>

    <!-- footer -->
    <footer th:replace="fragment/footer :: footer"></footer>


    <script>
        // key = Image 의 url, value = Image File 
        // let fileList = []; // 유저가 선택한 file 이 담김 
        const fileMap = new Map();
        // [key,value] = [url, imgIdx]
        // imgIdx 는 각 img 에 부여된 고유 번호         
        const imgIdxMap = new Map();

        const form = document.querySelector('form');
        const editor = document.getElementById('editor');
        const btnBold = document.getElementById('btn-bold');
        const btnItalic = document.getElementById('btn-italic');
        const btnUnderline = document.getElementById('btn-underline');
        const btnStrike = document.getElementById('btn-strike');
        const btnOrderedList = document.getElementById('btn-ordered-list');
        const btnUnorderedList = document.getElementById('btn-unordered-list');

        const btnImage = document.getElementById('btn-image');
        const imageSelector = document.getElementById('img-selector');

        btnBold.addEventListener('click', function () {
            setStyle('bold');
        });

        btnItalic.addEventListener('click', function () {
            setStyle('italic');
        });

        btnUnderline.addEventListener('click', function () {
            setStyle('underline');
        });

        btnStrike.addEventListener('click', function () {
            setStyle('strikeThrough')
        });

        btnOrderedList.addEventListener('click', function () {
            setStyle('insertOrderedList');
        });

        btnUnorderedList.addEventListener('click', function () {
            setStyle('insertUnorderedList');
        });

        function setStyle(style) {
            document.execCommand(style);
            focusEditor();
        }

        // 버튼 클릭 시 에디터가 포커스를 잃기 때문에 다시 에디터에 포커스를 해줌
        function focusEditor() {
            editor.focus({ preventScroll: true });
        }



        btnImage.addEventListener('click', function () {
            imageSelector.click();
        });

        imageSelector.addEventListener('change', function (e) {
            const files = e.target.files;
            if (!!files) {
                insertImg(files[0]);
            }
            // 비워주지 않으면 같은 이미지 연속 선택시 imageSelector 'change' triggered 되지 않을 가능성 있음 
            this.value = null;
        });


        // 선택한 이미지 editor 에 삽입 
        let imgEleCnt = 0;
        function insertImg(file) {
            const reader = new FileReader();
            let url = URL.createObjectURL(file);
            fileMap.set(url, file);

            let imgEle = document.createElement('img');
            imgEle.src = url;
            imgEle.classList.add(imgEleCnt++);

            let selection = window.getSelection();
            // console.log('selection.anchorOffset = ' + selection.anchorOffset);
            // console.log('selection.anchorNode = ' + selection.anchorNode);
            // console.log('selection.anchorNode.parentNode = ' + selection.anchorNode.parentNode);

            if (selection.anchorNode == null) {
                let targetElement = document.getElementById('editor');
                targetElement.appendChild(imgEle);
            }
            // 글 작성하는 editor 영역에 커서 위치할경우
            else if (selection.anchorNode.parentNode.id === 'editor') {
                let range = selection.getRangeAt(0);
                range.insertNode(imgEle);
            }
            else { // 아닌 경우에는 editor 영역에 img 삽입                 
                let targetElement = document.getElementById('editor');
                targetElement.appendChild(imgEle);
            }
        }

        textDecoration();

        function textDecoration() {

            btnBold.addEventListener('click', function () {
                setStyle('bold');
            });

            btnItalic.addEventListener('click', function () {
                setStyle('italic');
            });

            btnUnderline.addEventListener('click', function () {
                setStyle('underline');
            });

            btnStrike.addEventListener('click', function () {
                setStyle('strikeThrough')
            });

            btnOrderedList.addEventListener('click', function () {
                setStyle('insertOrderedList');
            });

            btnUnorderedList.addEventListener('click', function () {
                setStyle('insertUnorderedList');
            });

            function setStyle(style) {
                document.execCommand(style);
                focusEditor();
            }
        }

        // submit button event listener 
        let button = document.getElementById('submitBtn');
        button.addEventListener('click', function (event) {
            // Prevent the default form submission behavior (버튼 클릭시 서버로 폼 전송 방지)
            event.preventDefault();

            // <div contenteditable=true> 에 있는 내용 <textarea> 에 복사
            getContent();
            // 이미지 정보 먼저 ajax로 보내고 폼 데이터 이후 보냄 
            uploadImgs();
            form.submit();
        });


        // files 에 담긴 파일들 formData 에 담아 서버에 ajax request 보냄 
        // 페이지 id 도 같이 보냄 
        function uploadImgs() {
            const form = document.querySelector('form');
            // 선택된 이미지 파일 0개 라면 폼 서버에 보내고 리턴             
            if (fileMap.size === 0) {
                form.submit();
                return;
            }

            const formData = new FormData();
            // key:pageId, pageId formData 에 추가 
            let pageId = "[[${form.id}]]";
            formData.append('pageId', pageId);

            // key:files, files formData 에 추가 
            fileMap.forEach((value, key) => { // value 는 file 
                formData.append('files', value);
            });

            // key:imgIdxList, <img class="imgIdx">
            fileMap.forEach((value, key) => {
                let imgIdx = imgIdxMap.get(key); // imgIdx:String 
                formData.append('imgIdxList', imgIdx)
            });



            const xhr = new XMLHttpRequest();
            xhr.open('POST', '/pages/uploadImages', true);
            xhr.onload = function () {
                if (xhr.status === 200) {
                    console.log('Files uploaded successfully');
                    form.submit(); // ajax 완료 후 form 전송 
                } else {
                    console.error('Error uploading files');
                }
            };
            xhr.send(formData);
        }

        // <div contenteditable=true> 에 있는 내용 <textarea> 에 복사
        function getContent() {
            document.getElementById("my-textarea").value = editor.innerHTML;
            getImgEleFromTextArea();
        }

        // editor 에 작성된 글에서 <img> 추출 
        function getImgEleFromTextArea() {
            const textareaValue = document.getElementById("my-textarea").value;
            const tempDiv = document.createElement("div");
            tempDiv.innerHTML = textareaValue;

            // Get all <img> elements from the div
            const imgElements = tempDiv.querySelectorAll("img");

            // key,value = [url, file]
            const imgExistence = new Map();
            // 유저가 한 번 삽입했다가 지운 이미지는 Map 에서 삭제되어야함 
            const keysToDelete = [];

            imgElements.forEach((imgElement) => {
                const key = imgElement.src;
                imgExistence.set(key, true);
            });

            fileMap.forEach((value, key) => {
                if (!imgExistence.has(key)) {
                    keysToDelete.push(key);
                }
            });

            keysToDelete.forEach((key) => {
                fileMap.delete(key);
            });


            // imgIdxMap [key,value] = [url, imgIdx]            
            imgElements.forEach((imgElement) => {
                const url = imgElement.src;
                const imgIdx = imgElement.classList[0];
                imgIdxMap.set(url, imgIdx);
            });
        }

    </script>



</body>

</html>