<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Page Edit</title>
    
    <script type="text/javascript">
        
        window.onload = function() {
            var imageInput = document.getElementById('images');
            var selectedImgContainer = document.getElementById('selectedImgContainer');

            // multiple images 선택시 이벤트
            imageInput.addEventListener('change', function (event) {
                // 이미지 다시 선택시 초기화
                selectedImgContainer.innerHTML = "";
                var files = event.target.files;

                // 이미지 URL 저장
                var imgList = [];

                // 파일의 URL 생성, 이용해서 디스플레이 
                for (var i = 0; i < files.length; i++) {
                    var file = files[i];
                    imgList.push(URL.createObjectURL(file));
                }

                // selectedImgContainer 에 <img> append
                imgList.map((imgURL) => {
                    var image = document.createElement('img');
                    image.src = imgURL;
                    selectedImgContainer.appendChild(image);
                });

            });

        };


    </script>
</head>

<body>
<div>
    <form th:action="@{/pages/new}" th:object="${form}" method="post" enctype="multipart/form-data">
        <!-- title -->
        <div>
            <label th:for="title">제목</label>
            <input type="text" th:field="*{title}" placeholder="제목을 입력하세요">
        </div>

        <!-- content -->
        <div>
            <div style="display: flex; align-items: center;">
                <label th:for="content">내용</label>
                <textarea cols="50" rows="10" th:field="*{content}" placeholder="내용을 입력하세요"></textarea>
            </div>
        </div>

        <!-- images upload  -->
        <!-- 복수 이미지 선택시 imageInput.eventListener 에 의해 선택한 이미지 디스플레이됨        -->
        <div>
            <label th:for="images">이미지 파일들</label>
            <input id="images" name="images" type="file" multiple="multiple">
            <div id="selectedImgContainer"></div>
        </div>

        <button type="submit">Submit</button>
    </form>


</div>



</body>

</html>