<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Create Page</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

    <style>
        #sortable {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 60%;
        }

        #sortable li {
            margin: 0 3px 3px 3px;
            padding: 0.4em;
            padding-left: 1.5em;
            font-size: 1.4em;
            height: 18px;
        }

        #sortable li span {
            position: absolute;
            margin-left: -1.3em;
        }

        /* <input> button */
        .custom-file-upload {
            display: inline-block;
            padding: 6px 12px;
            cursor: pointer;
            border-radius: 4px;
            background-color: #f2f2f2;
            color: #333;
            font-size: 16px;
        }

        .custom-file-upload:hover {
            background-color: #e6e6e6;
        }

        .custom-file-upload:active {
            background-color: #d9d9d9;
        }

        input[type="file"] {
            display: none;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

</head>

<body>
    <div>
        <form th:action="@{/pages/new}" th:object="${form}" method="post" enctype="multipart/form-data">
            <!-- title -->
            <div>
                <label th:for="title">제목</label>
                <input type="text" th:field="*{title}" placeholder="제목을 입력하세요">
            </div>

            <!-- content -->
            <div>
                <div style="display: flex; align-items: center;">
                    <label th:for="content">내용</label>
                    <textarea cols="50" rows="10" th:field="*{content}" placeholder="내용을 입력하세요"></textarea>
                </div>
            </div>

            <!-- images upload  -->
            <!-- 이미지 선택시 imageInput.eventListener 에 의해 선택한 이미지 디스플레이됨        -->
            <div>
                <label id="images-input-label" th:for="images" class="custom-file-upload">Choose Images</label>
                <input id="images" name="images" type="file" multiple="multiple">
            </div>

            <ul id="selectedImgContainer" style="list-style:none;">
            </ul>

            <input type="hidden" th:field="*{id}" />
            <input type="hidden" name="imageOrder" id="imageOrder" value="">
            <button id="submitBtn" type="submit">Submit</button>
        </form>


    </div>



    <script type="text/javascript">

        var imageInput = document.getElementById('images');
        var selectedImgContainer = document.getElementById('selectedImgContainer');
        var changedOrder = []; // 유저가 이미지 순서 변경시 update 됨 
        var fileList = []; // 유저가 선택한 file 이 담김 
        let labelEle = document.getElementById('images-input-label');


        // JQuery sortable <ul id="selectedImgContainer"> 내 의 <li> 드래그로 이동 가능하도록함 
        // 순서가 변경됐다면 fileList 의 순서도 그에 맞춰 변경되도록함 
        $(function () {
            $("#selectedImgContainer").sortable({
                update: function (event, ui) {
                    changedOrder = $(this).sortable('toArray', { attribute: 'imgOrder' }); // Get the updated order as an array

                    // li 순서 변경된대로 fileList 도 순서 변경함 
                    let changedOrderFileList = new Array(changedOrder.length).fill(0);
                    for (let i = 0; i < changedOrder.length; i++) {
                        let o = parseInt(changedOrder[i]);
                        changedOrderFileList[i] = fileList[o];
                    }
                    fileList = [];

                    // update fileList with the new order of elements
                    for (let i = 0; i < changedOrderFileList.length; i++) {
                        fileList.push(changedOrderFileList[i]);
                    }
                    // <ul> 의 자식노드 돌면서 <li> 의 imgOrder 를 다시 위에서 부터 아래로 0부터 증가하면서 바꾼다  
                    let ulEle = document.getElementById('selectedImgContainer');
                    for (let i = 0; i < ulEle.childNodes.length; i++) {
                        let liEle = ulEle.childNodes[i];
                        liEle.setAttribute('imgOrder', i);
                    }
                    
                }
            });
        });

        window.onload = function () {
            // <input> event listener 
            // 사용자가 이미지들 선택하면 fileList 에 담고 디스플레이 위한 element 도 만듦 
            imageInput.addEventListener('change', function (event) { // cancel 시 trigger 되지 않음 
                let files = event.target.files;

                // 최초 이미지 선택하는 경우 
                if (labelEle.textContent === "Choose Images") {
                    selectedImgContainer.innerHTML = "";
                    // fileList 도 비움 
                    fileList.length = 0;
                    // 이미지 선택 이후에 디스플레이 텍스트 "Add More Images" 로 변경 
                    labelEle.textContent = "Add More Images";
                }

                // 추가된 이미지들 fileList 에 푸쉬 
                // imgOrder 어트리뷰트 값도 fileList 크기에 맞게 할당 
                let appendIdx = fileList.length;
                for (let i = 0; i < files.length; i++) {
                    let file = files[i];
                    fileList.push(file);

                    let liEle = document.createElement('li');
                    liEle.setAttribute('imgOrder', appendIdx + i);
                    let imgEle = document.createElement('img');
                    imgEle.src = URL.createObjectURL(file);

                    // 이미지 삭제 <button>     
                    let btnEle = document.createElement('button');
                    btnEle.innerText = "DELETE";
                    btnEle.type = "button";
                    btnEle.classList.add('added-btn');

                    liEle.appendChild(imgEle);
                    liEle.appendChild(btnEle);
                    selectedImgContainer.appendChild(liEle);
                }
                
            });

        };

        // submit button event listener 
        let button = document.getElementById('submitBtn');
        button.addEventListener('click', function (event) {
            // Prevent the default form submission behavior (버튼 클릭시 서버로 폼 전송 방지)
            event.preventDefault();

            // 이미지 정보 먼저 ajax로 보내고 폼 데이터 이후 보냄 
            uploadImgs(fileList);
        });

        // files 에 담긴 파일들 formData 에 담아 서버에 ajax request 보냄 
        // 페이지 id 도 같이 보냄 
        function uploadImgs(files) {
            const form = document.querySelector('form');
            // 선택된 이미지 파일 0개 라면 폼 서버에 보내고 리턴 
            if (files.length == 0) {
                form.submit();
                return;
            }
            
            const formData = new FormData();
            // key:pageId, pageId formData 에 추가 
            let pageId = "[[${form.id}]]";
            formData.append('pageId', pageId);

            // key:files, files formData 에 추가 
            for (let i = 0; i < files.length; i++) {
                formData.append('files', files[i]);
            }

            const xhr = new XMLHttpRequest();
            xhr.open('POST', '/pages/uploadImages', true);
            xhr.onload = function () {
                if (xhr.status === 200) {
                    console.log('Files uploaded successfully');
                    form.submit(); // ajax 완료 후 form 전송 
                } else {
                    console.error('Error uploading files');
                }
            };
            xhr.send(formData);
        }


        // 이미지에 대한 삭제 버튼 눌렀을시 이미지 삭제 (이미지가 속한 <li> 를 제거함)
        selectedImgContainer.addEventListener('click', function (e) {
            if (e.target.classList.contains('added-btn')) {
                let btnEle = e.target;
                let liEle = btnEle.parentNode;
                let imgOrder = parseInt(liEle.getAttribute('imgOrder'));
                fileList.splice(imgOrder, 1);
                liEle.remove();
            }
        });

    </script>

</body>

</html>