<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>View Page</title>
    <link rel="stylesheet" href="/css/universal.css" th:href="@{/css/universal.css}">
    <link rel="stylesheet" href="/css/pageView.css" th:href="@{/css/pageView.css}">
    <!-- page block style -->
    <link rel="stylesheet" type="text/css" href="/css/pageBlock.css" th:href="@{/css/pageBlock.css}">
</head>

<body>
    <!-- side tab fragment -->
    <div th:if="${loginMemberId == null}">
        <div th:replace="fragment/side-tab-logedOut :: side-tab-logedOut"></div>
    </div>
    <div th:unless="${loginMemberId == null}">
        <div th:replace="fragment/side-tab :: side-tab"></div>
    </div>

    <div class="contents">
        <div>
            <div class="title">
                <p class="pageTitle" th:text="${page.title}">Hello world!</p>
                <div class="titleFooter">
                    <p class="memberName" th:text="${page.member.name}">aaaa</p>
                    <p class="delimeter">|</p>
                    <p class="createdTime" th:text="${page.createdTime}">2023.05.22. 20:39:33</p>
                </div>
            </div>

            <div id="editor"></div>

            <div class="extraBox">
                <!-- 글 수정 폼으로 이동  -->
                <a href="#" th:href="@{/pages/{id}/edit (id=${page.id})}">수정</a>
                <!-- 글 삭제 -->
                <a href="#" th:href="@{/pages/{id}/delete (id=${page.id})}">삭제</a>
            </div>
        </div>
    </div>

    <!-- footer -->
    <footer th:replace="fragment/footer :: footer"></footer>


    <!-- ajax 요청으로 내용 가져와서 <img> 삽입  -->
    <script type="text/javascript">
        let pageId = "[[${page.id}]]";

        let xhr = new XMLHttpRequest();

        xhr.onreadystatechange = function () {
            if (xhr.readyState == XMLHttpRequest.DONE) {
                if (xhr.status == 200) {
                    // contents, images, imgUUIDList
                    let data = JSON.parse(xhr.responseText);

                    // key,val = 이미지의 uuid,이미지 File 
                    const fileMap = new Map();
                    for (let i = 0; i < data.images.length; i++) {                  
                        fileMap.set(data.imgUUIDList[i], data.images[i]);
                    }

                    const tempDiv = document.createElement("div");
                    tempDiv.innerHTML = data.content;

                    // 이미지 src 서버에서 가져온걸로 변경
                    const imgElements = tempDiv.querySelectorAll("img");
                    for (let i = 0; i < imgElements.length; i++) {
                        let imgElement = imgElements[i];
                        // img uuid 
                        const uuid = imgElement.id;
                        imgElement.src = 'data:image/jpeg;charset=utf-8;base64,' + fileMap.get(uuid);
                    }
                

                    // 글 작성폼에서 삽입되는 div 는 contenteditable=true임, pageView 에서는  false로 바꿈
                    const divElements = tempDiv.querySelectorAll("div");
                    for (let i = 0; i < divElements.length; i++) {
                        let divElement = divElements[i];
                        divElement.setAttribute('contenteditable', 'false');
                    }

                    document.getElementById('editor').appendChild(tempDiv);
                    resizeEditorOnload();

                } else {
                    console.error("error");
                }
            }
        }

        window.onload = function () {
            xhr.open('GET', '/view/ajaxReq?pageId=' + pageId.toString(), true);
            xhr.send();
            changeCreatedTimePattern();
        };

    </script>

    <script>
        // page onload 시 editor 크기 조절 
        function resizeEditorOnload() {
            let editor = document.getElementById('editor');
            // Perform additional actions after the element is displayed
            window.requestAnimationFrame(function () {
                // Your additional actions here
                // This code will run after the element is rendered
                let height = 62; // editor 기본 padding, border 포함
                for (let i = 0; i < editor.childNodes.length; i++) {
                    let childNode = editor.childNodes[i];
                    height += childNode.offsetHeight;
                }
                editor.style.height = 'auto';
                editor.style.height = Math.max(500, height) + 'px';
            });
        }

        // change "yyyy-MM-dd'T'HH:mm:ss.SSS" to "yyyy-MM-dd HH:ss"
        function changeCreatedTimePattern() {
            var createdTimeElement = document.querySelector(".createdTime");
            const date = new Date(createdTimeElement.textContent);
            const datePart = date.toISOString().split("T")[0];
            const timePart = date.toTimeString().split(" ")[0];
            const newPattern = datePart + ". " + timePart;
            createdTimeElement.textContent = newPattern;
        }
    </script>

</body>

</html>