<!-- 특정 Page 뷰  -->

<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Page View</title>
</head>

<body>

    <p th:text="${page.title}"></p>
    <p th:text="${page.content}"></p>

    <!-- 모델에 담겨있는 "img" 불러옴   -->
    <tr th:each="image : ${page.images}">
        <td>
           <p th:text="${image.id}"></p>
            <img th:src="${'data:image/jpeg;charset=utf-8;base64,' + image.generateBase64Image()}" alt="">
        </td>
    </tr>


    <div>
        <!-- 글 수정 폼으로 이동  -->
        <a href="#" th:href="@{/pages/{id}/edit (id=${page.id})}">수정</a>
        <!-- 글 삭제 -->
        <a href="#" th:href="@{/pages/{id}/delete (id=${page.id})}">삭제</a>
    </div>




</body>
</html>