<!-- 특정 Page 뷰  -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>View Page</title>
    <link rel="stylesheet" href="/css/universal.css" th:href="@{/css/universal.css}">
    <!-- page block style -->
    <link rel="stylesheet" type="text/css" href="/css/pageBlock.css" th:href="@{/css/pageBlock.css}">

    <style>
        /* content editor */
        div#editor {
            border: 1px solid #D6D6D6;
            border-radius: 4px;
            width: 100%;
            height: 1000px;
        }

        #editor img {
            max-width: 100%;
        }
    </style>
</head>

<body>
    <!-- side tab fragment -->
    <div th:if="${loginMemberId == null}">
        <div th:replace="fragment/side-tab-logedOut :: side-tab-logedOut"></div>
    </div>
    <div th:unless="${loginMemberId == null}">
        <div th:replace="fragment/side-tab :: side-tab"></div>
    </div>

    <div class="contents">
        <p th:text="${page.title}"></p>
        <div id="editor" th:utext="${page.content}"></div>

        <!-- 모델에 담겨있는 "img" 불러옴   -->
        <tr th:each="image : ${page.images}">
            <td>
                <p th:text="${image.id}"></p>
                <img th:src="${'data:image/jpeg;charset=utf-8;base64,' + image.generateBase64Image()}" alt="">
            </td>
        </tr>


        <div>
            <!-- 글 수정 폼으로 이동  -->
            <a href="#" th:href="@{/pages/{id}/edit (id=${page.id})}">수정</a>
            <!-- 글 삭제 -->
            <a href="#" th:href="@{/pages/{id}/delete (id=${page.id})}">삭제</a>
        </div>
    </div>

    <!-- footer -->
    <footer th:replace="fragment/footer :: footer"></footer>

</body>

</html>