
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        html, body {margin:0;}
    </style>

    <script type="text/javascript">
        // ajax request
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
            if(xhr.readyState == XMLHttpRequest.DONE) {
                if(xhr.status == 200) {
                    var contentContainer = document.getElementById('contentContainer');
                    var data = JSON.parse(xhr.responseText);
<!--                    console.log(data.pages); // Page-->
<!--                    console.log(data.images); // base64 String 형으로 인코딩된 이미지-->

                    <!-- response로 받은 page와 image들로 html 객체 만듦    -->
                    for(let i = 0; i < data.pages.length; i++) {
                        var div = document.createElement('div');
                        div.innerHTML = '<img src="data:image/jpeg;charset=utf-8;base64,' + data.images[i] + '">' +
                                        '<h2>' + data.pages[i].title + '</h2>' +
                                        '<p>' + data.pages[i].content + '</p>';
                        contentContainer.appendChild(div);
                    }

                } else {
                    console.error("error");
                }
            }
        }

        // infinite scroll
        window.addEventListener('scroll', function() {
            if(window.innerHeight + window.scrollY + 5 >= document.body.offsetHeight) {
                console.log("scrollEvent");
                xhr.open('GET', '/pages/ajaxReq', true);
                xhr.send();
            }
        })
    </script>
</head>
<body>

<p>
    <a href="/pages/new">글쓰기</a>
</p>


<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, magnam.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, magnam.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, magnam.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, magnam.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, magnam.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, magnam.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, magnam.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, magnam.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, magnam.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, magnam.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, magnam.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, magnam.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, magnam.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, magnam.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, magnam.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, magnam.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, magnam.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, magnam.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, magnam.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, magnam.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, magnam.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, magnam.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, magnam.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, magnam.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, magnam.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, magnam.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, magnam.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, magnam.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, magnam.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, magnam.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, magnam.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, magnam.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, magnam.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, magnam.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, magnam.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, magnam.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, magnam.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, magnam.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, magnam.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, magnam.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, magnam.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, magnam.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, magnam.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, magnam.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, magnam.</p>


<div id="contentContainer">
</div>


</body>
</html>





<!----------------------------------------------------------------------------------------------->

<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->

<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Page List</title>-->
<!--</head>-->

<!--<body>-->

<!--<p>-->
<!--    <a href="/pages/new">글쓰기</a>-->
<!--</p>-->

<!--&lt;!&ndash; 글 목록 &ndash;&gt;-->
<!--<div style="width:300px; height:200px; overflow-y:auto" id="listDiv">-->
<!--    <table>-->
<!--        <tr th:each="page : ${pages}">-->
<!--            <td><a th:text="${page.title}" href="#" th:href="@{/pages/{id}/view (id=${page.id})}">글 확인</a></td>-->
<!--        </tr>-->


<!--    </table>-->
<!--</div>-->

<!--&lt;!&ndash; 스크롤 하단 도달시 리프레쉬 &ndash;&gt;-->
<!--&lt;!&ndash;    <script type="text/javascript">&ndash;&gt;-->
<!--&lt;!&ndash;        var listDiv = document.getElementById('listDiv');&ndash;&gt;-->
<!--&lt;!&ndash;        listDiv.addEventListener("scroll", PageScroll);&ndash;&gt;-->

<!--&lt;!&ndash;        function PageScroll() {&ndash;&gt;-->
<!--&lt;!&ndash;            var scrollTop = listDiv.scrollTop;&ndash;&gt;-->
<!--&lt;!&ndash;            var scrollHeight = listDiv.scrollHeight;&ndash;&gt;-->

<!--&lt;!&ndash;            var diff = scrollHeight - scrollTop;&ndash;&gt;-->
<!--&lt;!&ndash;            var height = listDiv.clientHeight;&ndash;&gt;-->
<!--&lt;!&ndash;            var offPageHeight = 5;&ndash;&gt;-->
<!--&lt;!&ndash;            if (diff < height + offPageHeight) {&ndash;&gt;-->
<!--&lt;!&ndash;                console.log("call ajax to refresh");&ndash;&gt;-->
<!--&lt;!&ndash;                document.location.reload(true);&ndash;&gt;-->
<!--&lt;!&ndash;            }&ndash;&gt;-->

<!--&lt;!&ndash;            console.log("scroll: " + scrollTop + " " + scrollHeight)&ndash;&gt;-->
<!--&lt;!&ndash;        }&ndash;&gt;-->
<!--&lt;!&ndash;    </script>&ndash;&gt;-->
<!--</body>-->

<!--</html>-->