
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        html, body {margin:0;}
    </style>

    <script type="text/javascript">

        // ajax request
        var xhr = new XMLHttpRequest();
		let beginIdx = 0, cnt = 10;

        xhr.onreadystatechange = function() {
            if(xhr.readyState == XMLHttpRequest.DONE) {
                if(xhr.status == 200) {
                    var contentContainer = document.getElementById('contentContainer');
                    // Map<String, List<>> 의 형태로 리턴받음
                    var data = JSON.parse(xhr.responseText);

                    // response로 받은 page와 image들로 html 객체 만듦
                    for(let i = 0; i < data.pages.length; i++) {
                        var div = document.createElement('div');
                        div.innerHTML = '<img src="data:image/jpeg;charset=utf-8;base64,' + data.images[i] + '">' +
                                        '<h2>' + '<a href="pages/' + data.pages[i].id + '/view">' + data.pages[i].title + '</a>' + '</h2>' +
                                        '<p>' + data.pages[i].content + '</p>';

                        contentContainer.appendChild(div);
                    }

                } else {
                    console.error("error");
                }
            }
        }

        // infinite scroll
        window.addEventListener('scroll', function() {
            if(window.innerHeight + window.scrollY + 5 >= document.body.offsetHeight) {
                // 이전 request 에 대한 게시글들 로딩 완료된 이후에만 또 다른 request 보냄
				if(xhr.readyState == XMLHttpRequest.DONE) {
					if(xhr.status == 200) {
						xhr.open('GET', '/pages/ajaxReq?beginIdx=' + beginIdx.toString() + '&cnt=' + cnt.toString(), true);
						beginIdx += cnt;
						xhr.send();
					}
				}
            }
        })

        // 최초 페이지 로드 완료시 idx=0 부터 cnt=10 개 로드
        window.onload = function() {
			xhr.open('GET', '/pages/ajaxReq?beginIdx=' + beginIdx.toString() + '&cnt=' + cnt.toString(), true);
			beginIdx += cnt;
            xhr.send();
        };
        
    </script>
</head>
<body>

<p>
    <a href="/pages/new">글쓰기</a>
</p>


<div id="contentContainer">
</div>


</body>
</html>



