<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Page Update</title>
</head>
<body>

    <div>
        <form th:object="${form}" method="post">
            <!-- type="hidden" 으로 안넘겨주면 null 됨 -->
            <input type="hidden" th:field="*{id}" />
            <input type="hidden" th:field="*{createdTime}" />
            <!-- 제목 -->
            <div>
                <label th:for="title">제목</label>
                <input type="text" th:field="*{title}" placeholder="제목을 입력하세요" />
            </div>
            <!-- 내용 -->
            <div>
                <label th:for="content">제목</label>
                <input type="text" th:field="*{content}" placeholder="내용을 입력하세요" />
            </div>

            <button type="submit">수정</button>
        </form>
    </div>

</body>
</html>