<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Update Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

    <style>
        #sortable {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 60%;
        }

        #sortable li {
            margin: 0 3px 3px 3px;
            padding: 0.4em;
            padding-left: 1.5em;
            font-size: 1.4em;
            height: 18px;
        }

        #sortable li span {
            position: absolute;
            margin-left: -1.3em;
        }

        /* <input> button */
        .custom-file-upload {
            display: inline-block;
            padding: 6px 12px;
            cursor: pointer;
            border-radius: 4px;
            background-color: #f2f2f2;
            color: #333;
            font-size: 16px;
        }

        .custom-file-upload:hover {
            background-color: #e6e6e6;
        }

        .custom-file-upload:active {
            background-color: #d9d9d9;
        }

        input[type="file"] {
            display: none;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

    <script>

        // JQuery sortable <ul id="imgContainer"> 내 의 리스트 드래그로 이동 가능하도록함 
        $(function () {
            $("#imgContainer").sortable({
            });
        });

    </script>

</head>

<body>

    <div>
        <form th:object="${form}" method="post">
            <!-- type="hidden" 으로 안넘겨주면 null 됨 -->
            <input type="hidden" th:field="*{id}" />
            <input type="hidden" th:field="*{createdTime}" />

            <!-- 제목 -->
            <div>
                <label th:for="title">제목</label>
                <input type="text" th:field="*{title}" placeholder="제목을 입력하세요" />
            </div>
            <!-- 내용 -->
            <div>
                <label th:for="content">내용</label>
                <textarea cols="50" rows="10" th:field="*{content}" placeholder="내용을 입력하세요"></textarea>
            </div>

            <!-- 이미지 추가 input  -->
            <!-- <div>
                <label id="images-input-label" th:for="images" class="custom-file-upload">Add More Images</label>
                <input id="images" name="images" type="file" multiple="multiple">
            </div> -->

            <!-- 이미지, byte 배열 형의 이미지를 generateBase64Image() 로 변환 후 디스플레이  -->
            <ul id="imgContainer"></ul>

            <button id="submitBtn" type="submit">수정</button>
        </form>
    </div>


    <script type="text/javascript">

        var pageID = "[[${form.id}]]";
        var imgContainer = document.getElementById("imgContainer");
        var GetStoredImgXhr = new XMLHttpRequest(); // 최초 페이지 로드시, 저장된 이미지들 가져온다 


        window.onload = function () {
            // 페이지에 저장되어 있는 모든 이미지들 요청 
            GetStoredImgXhr.open('GET', '/pages/requestImages?id=' + pageID.toString(), true);
            // 순환참조 에러 발생, dto 사용 or 
            /**
             * 발생하게된 주원인은 '양방향 매핑'이기도 하지만, 더 정확하게는 Entity 자체를 response로 리턴한데에 있다. 
             * entity 자체를 return 하지 말고, DTO 객체를 만들어 필요한 데이터만 옮겨담아 Client로 리턴하면 순환 참조 관련 문제는 애초에 방지 할 수 있다.
             * 
             * */
            GetStoredImgXhr.send();
        };

        GetStoredImgXhr.onload = function () {
            if (GetStoredImgXhr.status === 200) {
                // data is from GetImageDto  
                let data = JSON.parse(GetStoredImgXhr.responseText);
                let imgIdx = 0;

                for (imgIdx = 0; imgIdx < data.length; imgIdx++) {
                    // <li> 
                    let liEle = document.createElement('li');
                    liEle.setAttribute('imgId', data[imgIdx].id)
                    // <p>
                    let pEle = document.createElement('p');
                    pEle.innerHTML = data[imgIdx].id.toString();
                    // <img> 
                    let imgEle = document.createElement('img');
                    imgEle.id = imgIdx;
                    imgEle.src = 'data:image/jpeg;charset=utf-8;base64,' + data[imgIdx].image;
                    imgEle.classList.add('added-img');
                    // <input> 이미지 클릭 시 파일 선택하도록 
                    let inputEle = document.createElement('input');
                    inputEle.id = imgIdx;
                    inputEle.type = "file";
                    inputEle.style = "display:none;";
                    inputEle.classList.add('added-input')
                    // 이미지 삭제 <button>     
                    let btnEle = document.createElement('button');
                    btnEle.innerText = "DELETE";
                    btnEle.type = "button";
                    btnEle.classList.add('added-btn');
                    /**
                     * <ul id="imgContainer">
                     *  <li>
                     *   <p>
                     *   <img>
                     *   <input> 
                     *   <button>   
                     *  </li>
                     * </ul>
                     * */
                    liEle.appendChild(pEle);
                    liEle.appendChild(imgEle);
                    liEle.appendChild(inputEle);
                    liEle.appendChild(btnEle);
                    imgContainer.appendChild(liEle);
                }
            }
        };

        // imgContainer 하위 <img> eventListener, 이미지 누르면 파일 선택창 뜨도록   
        imgContainer.addEventListener('click', function (e) {
            if (e.target.classList.contains('added-img')) {
                let imgEle = e.target;
                let inputEle = getNodeThatContainsClassFromSibling(imgEle, 'added-input');
                inputEle.click();
            }
        });

        // imgContainer 하위 <input> eventListener 
        // 유저가 변경하도록 선택한 이미지를 디스플레이함 
        imgContainer.addEventListener('change', function (e) {
            // <input> 에 변경 발생시 변경한 이미지로 디스플레이, e.target 은 <input> 
            if (e.target.classList.contains('added-input')) {
                // input 창 열린 후 아무것도 선택하지 않고 취소 누를 경우 file = undefined 됨 
                if (e.target.files[0] != undefined) {
                    var inputEle = e.target;
                    var imgEle = getNodeThatContainsClassFromSibling(inputEle, 'added-img');

                    // e.target.files[0] = <input> 에서 선택한 파일
                    // 선택한 파일을 base64 String 으로 변환 후 디스플레이 
                    var reader = new FileReader();
                    reader.onload = function (event) {
                        var byteArray = new Uint8Array(event.target.result);
                        // Convert the byteArray to a base64 string
                        var base64String = byteArrayToBase64String(byteArray);

                        imgEle.src = 'data:image/jpeg;charset=utf-8;base64,' + base64String;
                    }
                    // Read the file as an ArrayBuffer
                    reader.readAsArrayBuffer(e.target.files[0]);
                }
            }
        });

        // 이미지에 대한 삭제 버튼 눌렀을시 이미지 삭제 
        imgContainer.addEventListener('click', function (e) {
            if (e.target.classList.contains('added-btn')) {
                let btnEle = e.target;
                // 부모 노드인 <li> 제거 
                let liEle = btnEle.parentNode.remove();
            }
        });

        // element 의 자매 element 들 중 containClass(string) 를 클래스로 갖는 element 찾음 
        // return : HtmlElement 
        function getNodeThatContainsClassFromSibling(element, containClass) {
            let parentNode = element.parentNode;
            for (let i = 0; i < parentNode.childNodes.length; i++) {
                if (parentNode.childNodes[i].classList.contains(containClass)) {
                    return parentNode.childNodes[i];
                }
            }
        }

        function byteArrayToBase64String(bytes) {
            let binary = '';
            for (let i = 0; i < bytes.length; i++) {
                binary += String.fromCharCode(bytes[i]);
            }
            return btoa(binary);
        }




        // 이미지 파일들 ajax 로 전송 

        document.getElementById('submitBtn').addEventListener('click', function (event) {
            // Prevent the default form submission behavior (버튼 클릭시 서버로 폼 전송 방지)
            event.preventDefault();

            // 이미지 정보 먼저 ajax로 보내고 폼 데이터 이후 보냄 
            uploadImgs();
        });

        function uploadImgs() {
            let form = document.querySelector('form');
            let uploadImgXhr = new XMLHttpRequest();

            let formData = new FormData();
            
            for(let i = 0; i < imgContainer.childNodes.length; i++) {
                let liEle = imgContainer.childNodes[i];           
                console.log("liEle = " + liEle);
                // formData 에 imgId 추가 
                formData.append('imgId', liEle.getAttribute('imgId'));
                // formData 에 imgSrc 추가 
                // imgEle.src = 'data:image/jpeg;charset=utf-8;base64,' + data[imgIdx].image;
                let imgSrc = getChildNodeWithTag(liEle, 'IMG').src;
                let byteSrc = imgSrc.split(',')[1];
                console.log(byteSrc);
            }

        }

        // parentNode 의 child 중 tag ('IMG', 'INPUT' ... ) 일치하는 자식 리턴 
        function getChildNodeWithTag(parent, tag) {
            for(let i = 0; i < parent.childNodes.length; i++) {
                if(parent.childNodes[i].tagName === tag) {
                    return parent.childNodes[i];
                }
            }
        }


    </script>

</body>

</html>