<div th:fragment="footer">
    <style>
        * {
            margin: 0;
            padding: 0;
            /* width, height에 border, padding 값 포함됨  */
            box-sizing: border-box;
        }

        ul {
            list-style-type: none;
        }

        a {
            text-decoration: none;
        }

        /* ////////// FOOTER ///////////// */
        footer {
            margin-left: 245px;
        }

        footer {
            width: 100%;
            margin-top: 30px;
            padding-bottom: 30px;
            /* background-color: #202032; */
        }

        footer div {
            margin: 0 auto;
            margin: 20px;
        }

        footer div div {
            height: 100px;
            position: relative;
        }

        footer div p {
            width: 1000px;
            padding: 20px 10px 0px;
            line-height: 20px;
            color: gray;
            font-size: 12px;
        }

        footer div div h1 {
            position: absolute;
            left: -10px;
            bottom: 5px;
            color: gray;
        }

        footer div div ul {
            position: absolute;
            right: 230px;
            bottom: 15px;
        }

        footer div div ul li {
            display: inline-block;
            margin: 0 auto;
            color: gray;
        }

        footer div div ul li a {
            color: gray;
        }

        footer div div ul li a:hover {
            color: orange;
        }
    </style>

    <footer>
        <div>
            <div>
                <h1>INSTA WEB</h1>
                <ul>
                    <li>@ 2022-2023 INSTA WEB, Inc.</li>
                    <li>|</li>
                    <li><a href="#">Privacy Notice</a></li>
                    <li>|</li>
                    <li><a href="#">Terms of User</a></li>
                    <li>|</li>
                    <li><a href="#">Site map</a></li>
                </ul>
            </div>
            <p>
                45, Hwangsaeul-ro 200beon-gil, Bundang-gu, Seognam-si, Gyeonggi-do, Republic of Korea<br>
                Tel: 031-000-1111<br>
                Fax: 031-111-0000<br>
                Contact: aaa@aaaaa.com
            </p>
        </div>
    </footer>
</div>