<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Title</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "verdana";
        }

        ul {
            list-style-type: none;
        }

        a {
            text-decoration: none;
        }

        .side-tab {
            background-color: beige;
            position: fixed;
            height: 100%;
            width: 245px;
            padding-inline: 12.5px;
        }

        .content {
            margin-left: 250px;
        }

        .side-tab .logo {
            width: 100%;
            position: relative;
            display: flex;
            /* justify-content: flex-start; */
            align-items: center;
            height: 92px;
        }

        .side-tab .logo p {
            font-size: large;
        }

        .side-tab .menus {
            background-color: aqua;
            width: 100%;
            height: 782px;
        }

        .side-tab .menus div {
            background-color: aquamarine;
            width: 100%;
            height: 56px;
            display: flex;
            justify-content: left;
            align-items: center;
        }
    </style>
</head>

<body>
    <div class="side-tab">
        <div class="logo">
            <p>Instagram</p>
        </div>
        <div class="menus">
            <div>L HOME</div>
            <div>L HOME</div>
            <div>L HOME</div>
            <div>L HOME</div>
        </div>
    </div>
    <div class="content">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium cumque sit quisquam voluptatum! Quaerat
        ratione, dignissimos ea quia mollitia impedit tenetur, minima suscipit, amet pariatur nobis culpa quo. Placeat
        deserunt beatae blanditiis aut corrupti quos laboriosam mollitia reiciendis repellendus? Earum sequi eum quod
        laborum et vel eius illum alias provident voluptas. Qui quis asperiores ipsum itaque ipsam harum ea quaerat?
        Amet ipsam necessitatibus adipisci error cum sint earum voluptate maxime cupiditate facere vel sapiente velit ab
        alias architecto dolorem magnam voluptas, nesciunt commodi, quisquam pariatur in? Quasi, inventore veniam.
        Nihil, impedit. Nihil nulla aut fugit cumque, distinctio est quam dolorem ipsam! Delectus eius totam ipsum ex
        quas cumque provident facere beatae eaque officiis, ratione facilis nemo modi. Porro ad blanditiis facere minus
        corrupti, accusamus tempore repellat dolores est quas aliquid laudantium eius enim sunt quam iste iure non
        consequatur modi laborum cum quos! Sed aperiam atque dolorum amet quo non voluptates, esse error placeat officia
        ratione tempora adipisci? Unde reiciendis debitis deserunt odio quaerat tenetur iusto deleniti, voluptatibus et
        quam, itaque, provident est ipsum nostrum. Incidunt recusandae facilis rem possimus porro a, laborum dolore
        pariatur excepturi nesciunt rerum sequi temporibus corporis minus numquam vel quisquam et assumenda labore
        itaque illo adipisci consectetur provident! Illo quis dolore aliquam vero corrupti mollitia quaerat ipsa,
        possimus iure doloremque itaque commodi distinctio maiores. Pariatur fuga saepe eum veniam quidem? Totam eveniet
        explicabo veritatis. Ducimus, dolores omnis, accusantium nam, id quam optio delectus fugiat ipsum accusamus
        repellendus minus voluptate. Esse omnis error facilis saepe dolore architecto nesciunt ducimus delectus,
        assumenda quam culpa? Mollitia provident inventore nihil amet repudiandae nisi commodi quas assumenda aut, harum
        doloremque saepe, eius officia dicta. Aut quis sequi sunt nihil. Excepturi reiciendis incidunt atque est hic
        error perferendis earum aperiam sapiente? Odit placeat quae voluptates recusandae odio amet quaerat vel ab iure
        nisi at, consequatur ratione accusantium veritatis quos in est dolor nemo dolores provident debitis. Earum
        nesciunt vero cum inventore nostrum omnis placeat natus architecto perferendis praesentium? Eligendi placeat
        labore praesentium asperiores voluptatibus, unde fuga nostrum, autem veritatis commodi minima maxime quidem
        molestias est aut, sunt nobis accusamus repellendus quibusdam magni voluptatem nulla voluptate. Saepe culpa vero
        ut aliquam! Labore tenetur laborum deleniti quas quaerat maxime possimus modi nihil hic dolores commodi nam
        autem laudantium illo, aliquam ab accusantium laboriosam voluptatibus itaque blanditiis qui. Aliquid ullam
        voluptatibus unde sequi nulla. Architecto id nam iure blanditiis unde dicta debitis quo veritatis, consequatur
        obcaecati, quod impedit enim. Harum, voluptate accusantium! Doloribus, temporibus vitae optio rerum voluptas
        laborum sed veniam at consequatur quidem saepe fugiat quisquam iste? Similique impedit commodi, velit, veritatis
        aliquid delectus suscipit beatae adipisci in laboriosam voluptatem aliquam temporibus, ipsam ab dolorem
        voluptate minima placeat perspiciatis architecto sed quod hic? Exercitationem, sapiente architecto. Rem aut,
        fugiat, hic, similique repellat earum facilis soluta temporibus aspernatur sequi voluptatibus asperiores!
        Voluptate reiciendis inventore autem non ipsam labore maxime modi quae numquam veritatis. Non magni voluptatibus
        tenetur delectus! Modi impedit deserunt cupiditate nulla suscipit cum a tempore itaque similique, asperiores
        blanditiis accusantium sunt quisquam possimus corporis perspiciatis culpa voluptatibus nobis! Aut animi suscipit
        sapiente dignissimos ab quasi iusto, minima nobis consequuntur incidunt corrupti vel, expedita ducimus ratione
        eligendi neque praesentium. Ex voluptatibus iure doloremque, rem alias magni, officiis itaque excepturi atque
        repellat culpa aspernatur quod rerum incidunt quo aliquam enim iste aperiam porro, dolor temporibus inventore
        totam adipisci vel. Repudiandae expedita dolores aut consequatur nam ducimus cumque deleniti autem vel
        accusantium. Odio assumenda earum harum ducimus itaque, perferendis, ab dolores suscipit temporibus incidunt
        quod? Necessitatibus modi esse adipisci fugiat dolorum dicta ab? Quasi placeat sapiente vel quas error aperiam
        asperiores explicabo, dolor sit eveniet praesentium nobis ullam. Commodi laudantium nisi pariatur fuga
        temporibus id ipsum deserunt facilis dolor tempora vel itaque impedit ab beatae, alias necessitatibus
        dignissimos nesciunt quae unde odio praesentium? Necessitatibus reprehenderit corrupti perspiciatis repellat
        quaerat, unde nemo, eveniet quisquam id earum soluta. Assumenda odit excepturi accusamus dicta delectus neque
        mollitia officia magnam corporis harum tempora, nesciunt, nam omnis laborum quos cum dolorum? Nisi recusandae
        maxime quo iure alias sit quos voluptatem tenetur cupiditate debitis laborum rerum rem aut, veritatis reiciendis
        aliquid error illo, aliquam, cum ratione pariatur dolores explicabo nostrum ea! Exercitationem adipisci aperiam
        eligendi maxime rerum suscipit, reprehenderit iure mollitia totam nemo hic sunt a! Voluptatibus, recusandae
        quidem, incidunt tempore nam ducimus nostrum deserunt alias odit veritatis qui explicabo. Rem libero accusamus
        sed nostrum cum expedita possimus fugiat harum hic! At, eligendi. Quisquam tempora eos quo eveniet obcaecati
        laborum repellendus vero dolor illo eum incidunt deleniti fugit magnam blanditiis alias neque, praesentium quia,
        ex corrupti. At animi eos quis, necessitatibus, accusantium consectetur dolorum sint ipsam praesentium eum
        labore eaque sit possimus numquam atque quibusdam reprehenderit. Labore totam ipsa quod aliquid eveniet modi
        omnis. Assumenda facilis similique sed optio ex reprehenderit repellendus sunt vero deserunt soluta sint magni
        dolore, quo impedit quidem suscipit alias? Nam maiores adipisci quaerat provident nostrum suscipit aspernatur
        similique nobis veritatis inventore repellat error modi fugit sint quis molestias, in neque cupiditate
        distinctio libero? Nihil, quia animi incidunt ad voluptate, fuga ab numquam quasi voluptates voluptatibus
        perferendis nostrum nobis, harum itaque accusantium! Nisi distinctio perferendis esse inventore adipisci enim
        mollitia? Esse error accusamus porro voluptatibus ad harum repudiandae consequuntur praesentium libero nesciunt
        tempora, repellendus amet. Officiis, harum nisi. Dolorum perspiciatis ipsam, doloremque voluptas, totam eius
        exercitationem officiis voluptatem earum quos quia ea ullam enim temporibus itaque obcaecati aut ex? Veritatis
        libero alias quod possimus, impedit quas repellat consequatur expedita sapiente nisi doloribus numquam,
        assumenda vel est fuga ratione, voluptates placeat! Consequuntur deleniti architecto, rerum in voluptatum cumque
        deserunt, nobis explicabo itaque culpa pariatur voluptates quod laudantium nostrum perferendis. Asperiores
        magni, quos veniam rerum inventore veritatis quia, alias nihil iusto nostrum libero tenetur. Corporis magni quos
        consectetur odit repellat nobis? Provident accusantium at molestias ut in porro, officia sunt, iste maxime vitae
        minus voluptas aliquid nesciunt possimus quaerat non magnam aut similique nostrum, velit cumque! Error enim
        totam ratione dolor rem perspiciatis inventore sunt. Tempore molestias cumque explicabo. Dolores inventore qui
        eveniet eos totam laborum nobis possimus consequatur!
    </div>
</body>

</html>